body{
    background-color: rgb(0, 0, 0);
}

.h2{
    padding-left: 45%;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
    color: cornflowerblue;
}

#p2{
    font-size: 13px;
    color: blueviolet;
}
.p1{
    padding-left: 5%;
    color: darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

